#headerwrapRed {
  background: #E91E63;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #E91E63, #F44336);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #E91E63, #F44336);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #E91E63, #F44336);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #E91E63, #F44336);
  /* Standard syntax */
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 25%;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: grid;
}

md-tabs-canvas.md-center-tabs .md-tab {
  color: white;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  color: white;
  background: white;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
}
