<div ng-controller="userController as ctrl" class="col-md-12">
  <div class="form-group has-feedback">
    <label for="Buscar" class="sr-only">Buscar</label>
    <input type="text" class="form-control" name="nameFilter" ng-model="ctrl.nameFilter" placeholder="Buscar...">
    <span class="glyphicon glyphicon-search form-control-feedback"></span>
  </div>

  <div class="pricing-table row-eq-height" ng-repeat="properties in ctrl.propertys | filter:ctrl.nameFilter">
    <div class="pricing-option">
      <h3>{{properties.name}}</h3>
      <h4>Dueño: {{properties.ownedby}}</h4>
      <hr />
      <p>Grupo: {{properties.group}}</p>
      <p>Renta: ${{properties.rent}}</p>
      <hr />
      <div class="price">
        <div class="front">
          <span class="price">{{properties.housecost}} <b>$</b></span>
        </div>
        <div class="back">
          <a class="button">ID {{properties.id}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
